<html>
<header>
	<title>Dolardo</title>
	<link rel="stylesheet" href="../layout.css" />
</header>
<body>
	<div class="wrapper">
	 	<img src='../images/basic/diagram_64.png' style="float:left; margin-top: 10px;" />	
		<h1 class="title">Dolardo</h1>
		<p style="margin-top: 20px; margin-bottom: 10px;">
			Cotizaci&oacute;n del D&oacute;lar entre %s y %s seg&uacute;n el <a href='%s'>BROU</a>.
		</p>
		<div style="margin:auto; text-align:center; margin-top: 20px; margin-bottom: 20px;">
			<img src='%s' />
		</div>
		<div style="margin-left: auto; margin-right: 50px; margin-top: 15px; float:right; ">
			<h2 style="margin-bottom: 0px; padding-bottom: 0px;">Cotizaci&oacute;n actual</h2>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td style="font-size: large;font-weight:bold;">Compra</td>
								<td style="font-size: large;">$%s</td>
							</tr>
							<tr>
								<td style="font-size: large;font-weight:bold;">Venta</td>
								<td style="font-size: large;">$%s</td>
							</tr>
							<tr>
								<td style="font-size: large;font-weight:bold;">Variaci&oacute;n</td>
								<td style="font-size: large;">$%s</td>
							</tr>
						</table>					
					</td>
					<td>
						<img src='%s' />
					</td>
				<tr>
			</table>
		</div>
		%s
	</div>
	<div class="footer">
		<p style="text-align:center; margin:auto;"><a href="http://www.python.org"><img src="../images/python-powered-w-70x28.png" border="0" /></a></p>
		<p style="text-align:right;font-size:x-small;">C&oacute;digo fuente en <a href="http://code.google.com/p/dolardo/">http://code.google.com/p/dolardo/</a></p>
		<p style="text-align:right;font-size:x-small;">Copyright (c) 2008 <a href="http://ituland.com">iTULand</a></p>
	</div>
</body>
</html>
